.listing-info{
    color: $tertiary;
}

.card-shadow-sm{
    background-color: $tertiary;
}

.card-body{
    color: $secondary;
}
.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}