.listing-info, .single-listing{
    color: $tertiary;
    border-color: $quaternary;
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
    padding: 1rem;
}

.listing-title{
    color: $primary;
    
}

.collapse p{
    border-radius: 1rem;
    padding: 0.5rem;
    border-color: $quaternary;
    border-style: solid;
    border-width: 2px;
}

.card-shadow-sm{
    background-color: $tertiary;
}

.card-body{
    color: $secondary;
}
.card-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.card{
    background-color: $tertiary;
}