body{
    background-color: $secondary;
}

main{
    font-family: Raleway semibold, sans-serif;
}

h1{
    color: $primary;
}

.home-container h1{
    color: $secondary;
}

.home-container{
    background-image: url("/src/img/geordanna-cordero-2Qg4y32pdCc-unsplash-–-Kopi.png");
    background-size: cover;
    background-position: 75%;
}

.home p{
    color: $tertiary;
    font-family: Raleway Medium, sans-serif;
}

.home{
    color: $secondary;
}

.light-text{
    color: $tertiary;
}

.yellow-text{
    color: $primary;
}
