.navbar-brand{
    font-family: Audiowide;
    color: $secondary;
}

header{
    background-color: $tertiary;
    font-family: Raleway, sans-serif;
    color: $secondary;
}

.navbar-collapse {
    display: flex !important; // stylelint-disable-line declaration-no-important
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  }